/* CSS RESET */
*{
    margin:0;
    padding:0;       
}
/*#region Root*/
:root {
    --bg-color-nav: #255EE9;
    --bg-color-main-odd: white;
    --bg-color-main-even:#F6F6F6;    
    --box-color-main-big: transparent
    --box-color-main-small: transparent;
    --box-color-main-bigger: transparent;
    --bg-color-footer: #23272A;
    --box-color-footer-big: rgb(241, 133, 151);
    --box-color-footer-small: rgb(29, 143, 109);
    --bg-color-footer-box: aquamarine;
    --btn-color-footer: #648AE8;
}
/*#endregion*/
/*#region UTILS*/
*{
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.container{
    max-width: 1200px;
    margin:6rem auto;
    
    
}
.border {
border: 1px dashed black;
}
h3{
    background-image: url(../img/stars.svg);
    height: 10px;
    background-repeat:no-repeat;
    margin:20px;
    
}
/*#endregion*/
/*#region Header-Navbar*/
/*header*/
#site-header{
    background-color: var(--bg-color-nav);
}
img {
    max-width: 100%;
}

/*Navbar*/
.navbar{
min-height: 10px;    
display: flex;
align-items: center;
justify-content: space-around;
margin: 0 300px;

}
.navbar>* {
    background-color: transparent;
    flex-basis: 20%;
    flex-grow: 1;
    margin: 5px 0;
    padding: 5px;
}
.navbar-link {
    text-align: center;
    }
.navbar-ul{
    display: flex;
    justify-content: space-between;    
}
.navbar-li{    
list-style-type: none;
    color: white;
}
.navbar-login {
    text-align: end;
}
/*#endregion*/

/*#region BTNS*/
.btn {
    background-color: white;
    border-radius: 15px;
    padding: 7px;
    border:1px solid transparent;
}
.btn.browser-link {
    font-weight: bold;
    background-color:#23272A;
    color: white;
    border:5px solid transparent;
    border-radius: 100px;
}
.btn.download-link {
    font-weight: bold;
    border:5px solid transparent;
    border-radius: 100px;
}
.btn.download-link.foot{
    background-color: #648AE8;
    color: white;
    margin: 40px 100px;
}
.btn.register{
    background-color: var(--btn-color-footer);
    color:white;
    font-size:small;
    border-radius:100px;
}
/*#endregion*/
/*#region JUMBOTRON*/
.jumbotron {
    background-image: url(../img/jumbo.png);  
    background-size:cover;  
    min-height: 500px;
    padding: 60px; 
        .jumbotron-content {
        color: white;
        text-align: center;
        max-width:900px;
        font-size: x-large;        
    }
}
.links.container{
    margin:30px;
    display: flex;
    justify-content: center;
    gap: 30px;
}
/*#endregion*/
/*#region MAIN*/
.odd{
    background-color: var(--bg-color-main-odd);    
    min-height: 300px;
    padding: 60px;
    display: flex;
    justify-content: center;
    .big {
        background-color: var(--box-color-main-big);
        width: 40%;
    }
    .small{
        background-color: var(--box-color-main-small);
        width: 20%;
        font-size: x-large;
        font-weight: bolder;
        .descriptor{
            font-size: medium;
            font-weight:500;
        }
    }
}
.even{
    background-color: var(--bg-color-main-even);
    min-height: 300px;
    padding: 60px;
    display: flex;
    justify-content: center;     
    .small {
        background-color: var(--box-color-main-small);
        width: 20%;
        font-size: x-large;
        font-weight: bolder;
        .descriptor{
            font-size: medium;
            font-weight:500;
    }
}
}
    .big{
        background-color: var(--box-color-main-big);
        width: 40%;
    }

img.video-call{
    max-width: 100%;
    
}
.bottom {
    margin-top:60px;
    display: flex;
    flex-direction: column;
   
    min-height: 600px;

}
.bigger{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:0 200px;
    background-color: var(--box-color-main-bigger);
    min-width: 66%;
    min-height: 100%;
    }
.mac{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2px;   
    background-image: url(../img/stars.svg);
    background-repeat: no-repeat;
    background-size: contain;

}

/*#endregion*/
/*#region Footer*/
footer{
    background-color: var(--bg-color-footer);
    padding: 60px;
}
.footer-top{
    max-height: 400px;
    padding-bottom: 30px;
    border-bottom: 1px solid  #648AE8;
    display: flex;
    justify-content: center;
}
.bigfoot{
    background-color: var(--box-color-footer-big);
    min-width: 15%;
    min-height: 30%;
}
.smallfoot{
    background-color: var(--box-color-footer-small);
    min-width: 8%;
    min-height: 30%;
    border:1px dashed white;
}
    
.footer-bottom{
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin-top: 20px;
    padding-bottom: 50px;    
}
.foot-ul{
    display: flex;
    flex-direction: column;
    gap:10px;
    padding: 0 10px;

}
.foot-li{
    list-style-type:none;
    
}


/*#endregion#*/