/* CSS RESET */
*{
    margin:0;
    padding:0;
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    
}
/*#region Root*/
:root {
    --bg-color-nav: #255EE9;
    --bg-color-main-odd: white;
    --bg-color-main-even:rgb(192, 192, 192);    
    --box-color-main-big: transparent
    --box-color-main-small: transparent;
    --box-color-main-bigger: transparent;
    --bg-color-footer: rgb(87, 86, 86);
    --box-color-footer-big: rgb(241, 133, 151);
    --box-color-footer-small: rgb(29, 143, 109);
    --bg-color-footer-box: aquamarine;
    --btn-color-footer: pink;
}
/*#endregion*/
/*UTILS*/
.container{
    max-width: 1200px;
    margin:6rem auto;
    border: 1px dashed white;
    
}
.border {
border: 1px dashed black;
}

/*#region Header-Navbar*/
/*header*/
#site-header{
    background-color: var(--bg-color-nav);
}
img {
    max-width: 70%;
}

/*Navbar*/
.navbar{
min-height: 10px;    
display: flex;
align-items: center;
justify-content: space-around;
margin: 0 300px;

}
.navbar>* {
    background-color: transparent;
    flex-basis: 20%;
    flex-grow: 1;
    margin: 5px 0;
    padding: 5px;
}
.navbar-link {
    text-align: center;
    }
ul{
    display: flex;
    justify-content: space-between;    
}
li{    
    list-style-type: none;
    color: white;
}
.navbar-login {
    text-align: end;
}
/*#endregion*/

/*#region BTNS*/
.btn {
    background-color: white;
    border-radius: 15px;
    padding: 7px;
    border:1px solid transparent;
}
.btn.browser-link {
    font-weight: bold;
    background-color: black;
    color: white;
}
.btn.download-link {
    font-weight: bold;
}
.btn.download-mac{
    font-weight: bold;
    background-color: #648AE8;
    color: white;
    margin: 0 100px;

}
/*#endregion*/
/*#region JUMBOTRON*/
.jumbotron {
    background-image: url(../img/jumbo.png);  
    background-size:cover;  
    min-height: 500px;
    padding: 60px; 
        .jumbotron-content {
        color: white;
        text-align: center;
        max-width:600px;
        
    }
}
.links.container{
    margin:30px;
}
/*#endregion*/
/*#region MAIN*/
.odd{
    background-color: var(--bg-color-main-odd);    
    height: 300px;
    padding: 60px;
    display: flex;
    justify-content: center;
    .big {
        background-color: var(--box-color-main-big);
        width: 40%;
    }
    .small{
        background-color: var(--box-color-main-small);
        width: 25%;
    }
}
.even{
    background-color: var(--bg-color-main-even);
    height: 300px;
    padding: 60px;
    display: flex;
    justify-content: center;     
    .small {
        background-color: var(--box-color-main-small);
        width: 25%;
    }
    .big{
        background-color: var(--box-color-main-big);
        width: 40%;
    }
}
img.video-call{
    max-width: 100%;
    
}
.bottom {
    margin-top:60px;
    display: flex;
    flex-direction: column;
   
    min-height: 600px;

}
.bigger{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:0 200px;
    background-color: var(--box-color-main-bigger);
    width: 66%;
    min-height: 100%;
    }
   
/*#endregion*/
/*#region Footer*/
footer{
    background-color: var(--bg-color-footer);
    padding: 60px;
}
.footer-top{
    height: 400px;
    padding-bottom: 30px;
    border-bottom: 1px solid white;
    display: flex;
    justify-content: center;
}
.bigfoot{
    background-color: var(--box-color-footer-big);
    width: 15%;
    height: 50%;
}
.smallfoot{
    background-color: var(--box-color-footer-small);
    width: 8%;
    height: 50%;
    border:1px dashed white;
}
    
.footer-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    background-color: var(--bg-color-footer-box);
    padding:10px 0;
}
.footer-bottom>*{
    padding: 10px 20px;
    background-color: var(--btn-color-footer); 
    
}



/*#endregion#*/